.home-header {
  height: 820px;
  color: #ffffff;
  font-family: "Spartan", sans-serif;
  position: relative;

  & .header-img-mobile {
    display: none;
  }

  & .header-img-desktop {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  & .logo {
    margin-top: 65px;
  }

  & .texsts {
    max-width: 445px;
    margin-top: 153px;

    & .main {
      font-size: 56px;
      font-weight: 300;
      letter-spacing: -0.8px;
      line-height: 72px;
      margin-bottom: 36px;
    }

    & .secondary {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.22px;
      line-height: 30px;
      margin-bottom: 50px;
    }

    & .book-btn {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 16px;
      padding: 24px 72px 24px 54px;
      background-color: #111111;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: 550px) {
  .home-header {
    height: 748px;
    position: relative;
    text-align: center;

    & .content {
      padding: 0 24px;
    }

    & .header-img-mobile {
      display: block;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    & .header-img-desktop {
      display: none;
    }

    & .logo {
      margin-top: 300px;
    }

    & .texsts {
      max-width: auto;
      margin-top: 32px;

      & .main {
        font-size: 55px;
        margin-bottom: 32px;
      }

      & .secondary {
        font-size: 16px;
        margin-bottom: 63px;
      }
    }
  }
}
